.photos {
  width: 100%;
  display: flex;
}

.cauliflower {
  width: 25%;
  height: 430px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 10px;
}
.girl {
  width: 25%;
  height: 430px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 10px;
}

.soup {
  width: 25%;
  height: 430px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 10px;
}

.wrestling {
  width: 25%;
  height: 430px;
  background-size: cover;
  background-position: center;
  margin-top: 5px;
  border-radius: 10px;
}

.text {
  color: coral;
  font-family: Cambria, sans-serif;
  font-size: 17px;
  text-align: center;

  opacity: 0.9;
}

.title {
  color: coral;
  font-weight: bold;
  font-family: Cambria, sans-serif;
  font-size: 26px;
  text-align: center;
  padding-top: 5px;
  opacity: 0.9;
}

@media (max-device-width : 800px) {
  div div {
    display: flex;
    flex-direction: column;
    .cauliflower {
      width: 100%;
    }
    .girl{
      width: 100%;
    }
    .soup{
      width: 100%;
    }
    .wrestling{
      width: 100%;
    }
  }
}