.main-content {
  background-color: rgba(255,251,244,0.55);
}
.content-privacy {
    margin:60px 15% 30px 15%;

    line-height: 25px;
  h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid goldenrod;
    padding-bottom: 20px;
  }
  p{
    margin-bottom: 10px;
    font-size: 16px;
  }
  ol{
    li{
      margin-bottom: 10px;
    }
  }
  ul {
    li{
      list-style-type:circle;
      margin-bottom: 5px;
      a{
        color:goldenrod;
      }
    }
  }
  }
.admin {
  margin-top: 10px;
  margin-left: 60px;
}
